.gallery-wrapper {
    height: auto;
    /* max-height: 700px; */
    overflow: auto;
    width: 100%;
    margin: 50px 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .gallery-item {
        flex: 1 0 auto;

        height: auto;
        width: 25%;
        overflow: hidden;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;


        &:hover {
            opacity: 0.8;
            transition: 300ms;
        }

        >img {
            height: auto;
            width: 100%;
        }

        &.max-width {
            width: 100%;
            height: 300px;
        }

        &.height-350 {
            width: 100%;
            height: 350px;
        }
    }
}