.hero-wrapper {

    #coverdiv {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        // background-color: #cacaca;
        position: relative;

        #cover {
            width: 120%;
        }
    }

    // #coverdiv {
    //     width: 100%;
    //     height: 100vh;
    //     background: #fff;
    //     overflow: hidden;
    //     position: relative;

    //     #bg {
    //         width: 400%;
    //         height: 400%;
    //         background: linear-gradient(0.33turn, #5c5c5c, #fff, #d8d8d8, #838383);
    //         background-size: 100% 100%;
    //         animation: GradientBackground 12s ease infinite;

    //     }

    //     @keyframes GradientBackground {
    //         0% {
    //             transform: translate(0, -50%);
    //         }

    //         50% {
    //             transform: translate(-75%, 0);
    //         }

    //         100% {
    //             transform: translate(0, -50%);
    //         }
    //     }

    // }


    .details-wrapper {
        display: flex;
        flex-flow: column nowrap;
        // align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden;
        padding: 0 15%;

        .hero-text {
            color: #fdfdfd;
            height: 50px;
            width: 100%;
            user-select: none;

            &.main {
                font-size: 2.5em;
                margin: 0px 0 10px 0;
                letter-spacing: -1px;

                .name {
                    color: $primary;
                }
            }

            &.sub {
                font-size: 1.2em;
                font-weight: lighter;
            }

            &.desc {
                font-size: 1em;
                height: auto;
                width: 500px;
            }
        }


        .resume-button-wrapper {
            width: 100%;
            height: auto;
            margin-top: 50px;

            #resume_button {
                border: 0;
                background-color: $primary;
                color: #fdfdfd;
                font-size: 0.8em;
                height: 50px;
                width: 180px;
                text-align: center;
                cursor: pointer;
                outline: none;
                transition: 200ms ease;
                -webkit-transition: 200ms ease;
                -ms-transition: 200ms ease;

                &:hover {
                    background-color: darken($primary, 10%);
                    border-radius: 0;
                }
            }
        }
    }

    @include mQueryGeneral {
        .details-wrapper {
            padding: 0 20px !important;
        }

        .hero-text {
            width: 100% !important;
        }

        .hero-text.main {
            font-size: 1.2em !important;
            margin: 0px 0 5px 0 !important;
            height: auto !important;
        }

        .hero-text.sub {
            font-size: 0.8em !important;
        }

        .hero-text.desc {
            font-size: 0.8em !important;
            width: 100% !important;
            max-width: 360px;
        }

        .resume-button-wrapper {
            margin: 20px 0 0 0 !important;
        }

        #resume_button {
            height: 40px !important;
            width: 150px !important;
            font-size: 0.8em !important;
        }

        #cover {
            margin-top: 0px !important;
            height: 120% !important;
            width: auto !important;
        }
    }

    @include mQueryTablet1L {
        .details-wrapper {
            padding: 0 40px !important;
        }

        #cover {
            margin-top: 0px;
            height: 120% !important;
        }
    }

    @include mQueryTablet1P {
        #cover {
            margin-top: 0px;
            width: auto !important;
            height: 150%;
        }
    }

    @include mQueryTablet2P {
        #cover {
            margin-top: 0px;
            width: auto !important;
            height: 150%;
        }
    }

    @include mQueryTablet2L {
        #cover {
            margin-top: 0px;
            height: 150%;
        }
    }
}