@font-face {
    font-family: 'Custom';
    src: url('resources/font/PT_Sans-Web-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Custom';
    src: url('resources/font/PT_Sans-Web-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
	margin: 0; padding: 0;
	
	font-family: 'Custom'; 
}

/*DISPLAY WRAPPER*/

#displaydiv{
	height: 100%; width: 100%;
	overflow: auto;
}

/*****************HEADER*************/
#headerdiv{
	width: 100%;
	height: 50px;
	
	background-color: white;
}

#hoptionswrapper{
	height: 100%; width: 100%;
	text-align: center;
}

.hoptions{
	height: 46px;
	width: 140px;
	display: inline-block;
	
	font-size: 16px;
	color: #929292;
	
	text-align: center;
	line-height: 50px;
	
	border-bottom: 4px solid rgba(0,0,0,0);
		cursor: pointer;
}

.hoptions:hover{
	border-bottom: 4px solid #929292;
}

#ho_home{
	border-bottom: 4px solid #929292;
}

/*****************SUBHEADER/COVER*************/

#coverdiv{
	position: absolute; z-index: 0;
	
	width: 100%;
	height: 350px;
	
	background-color: rgba(146,146,146, 0.5);
	
	overflow: hidden;
}

#subheaderdiv{
	position: absolute; z-index: 1;
	
	width: 100%;
	height: 350px;
	
	background-color: rgba(146,146,146, 0.5);
	
	overflow: hidden;
}

.subheadertext{
	color: white;
	text-align: center;
	
	height: 50px;
	width: 100%;
}

#sht_ramce{
	font-size: 40px;
	margin-bottom: 15px;
	margin-top: 70px;
}
	
#sht_ramce2{
	font-size: 20px;
}

#cover{
	margin-top: -50px;
	width: 100%;
}

#ramcediv{
	position: absolute; z-index: 1;
	left: 0; right: 0;
	margin-top: 210px; margin-left: auto; margin-right: auto; margin-bottom: 0;
	
	height: 230px;
	width: 230px;
	overflow: hidden;
	
	border: 4px solid white;
	/* box-shadow: 0px 0px 6px gray; */
}

#ramcefilter{
	position: absolute; z-index: 1;
	height: 100%; width: 100%;
	background-color: rgba(146,146,146, 0);
}

#ramce{
	position: absolute; z-index: 0;
	height: 230px; width: 230px;
}

/****ABOUT***/

#intro{
	position: absolute; z-index: 0;
	height: 60px; width: 100%;
	margin-top: 460px;
}

@media only screen and (min-width: 1600px) and (min-height: 900px){
	#intro{
		margin-top: 480px;
	}
}

.introtext {
	font-size: 18px; font-family: 'Custom';
	text-align: center;
	
	color: rgb(100,100,100);
	margin-bottom: 5px;
}


