@media only screen and (max-width: 780px) {
	/*****************HEADER*************/
	#headerdiv {
		width: 100%;
		height: 50px;
		/*border-bottom: 1px solid rgba(255,255,255,0.5);*/
	}
	#hoptionswrapper {
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.hoptions {
		height: 48px;
		width: 80px;
		font-size: 13px;
		line-height: 50px;
	}
	/*****************SUBHEADER/COVER*************/
	#subheaderdiv {
		width: 100%;
		height: 400px;
	}
	.subheadertext {
		height: 50px;
		width: 100%;
	}
	#sht_ramce {
		font-size: 25px;
		margin: 240px 0 5px 0;
		height: auto;
	}
	#sht_ramce2 {
		font-size: 12px;
	}
	#coverdiv {
		width: 100%;
		height: 400px;
	}
	#cover {
		margin-top: 0px;
		height: 100%;
		width: auto;
	}
	@media only screen and (max-width: 350px) {
		#cover {
			margin-top: -50px;
			width: 200%;
		}
	}
	#ramcediv {
		margin: 30px auto 0 auto;
		height: 180px;
		width: 180px;
	}
	#ramce {
		position: absolute;
		z-index: 0;
		height: 180px;
		width: 180px;
	}

	/****ABOUT***/
	#intro {
		height: 60px;
		width: 90%;
		margin: 420px auto 0 auto;
		left: 0;
		right: 0;
	}

	.introtext {
		font-size: 14px;
		margin-bottom: 5px;
	}

	#social {
		margin-top: 320px;
	}

	.socialimg {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin: 0px;

		opacity: 0.9;
	}
}