html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #141414;
    font-size: 20px;
    background-color: #f7f7f7;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h2, h3, h4{
    font-weight: 500;
    margin: 10px 0;
  }
  
  ::-webkit-scrollbar {
      width: 5px;
  }
   
  ::-webkit-scrollbar-track {
      border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
      border-radius: 5px;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .align-right{
    text-align: right;
  }
  
  .pos-rel{
    position: relative;
  }

.lazy[data-src] {
    opacity: 0;
}

.lazy {
    opacity: 1;
    transition: opacity 300ms ease;
    -webkit-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
}

.display-none {
    display: none;
}

/*******************************/

.app {
    height: 100%;
    width: 100%;
    overflow: auto;
}