@import 'variables';
@import 'mixins/mixins';
@import 'misc/misc';
@import 'components/components';

@import 'footer';

.intro-body {
    display: block;

    .intro-paragraph {
        text-align: justify;
    }

    .intro-photo-wrapper {
        position: relative;
        margin: 50px auto 50px auto;
        height: 400px;
        width: 400px;
        overflow: hidden;
        border: 10px solid lightGray;
        border-radius: 100%;
        background-color: #cacaca;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .intro-photo-filter {
            position: absolute;
            z-index: 2;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.1);
        }

        .intro-photo-img {
            height: 100%;
            width: 100%;
        }
    }

    @include mQueryGeneral {
        .intro-photo-wrapper {
            margin: 30px auto 30px auto;
            height: 250px;
            width: 250px;
        }

        .intro-photo-img {
            height: 250px;
            width: 250px;
        }
    }

}