<div id="footer" enca="y_o_u ">
    <div id="footer_wrapper">
        <div class="footer_panel">
            <!-- <div class="footer_title">RAMCE CONCEPCION</div> -->
            <div class="footer_text">
                <i>“Every great developer you know got there by solving problems they were unqualified
                    to
                    solve until they actually did
                    it.”
                </i>
                <br> — Patrick McKenzie
            </div>
        </div>
        <div class="footer_panel">
            <div class="footer_title">CONTACT ME</div>
            <div class="footer_text" id="f_email">Email: ramuzuconcepcion@gmail.com</div>
            <div class="footer_text" id="f_phone">Phone: (+63) 9752456112</div>
        </div>
        <div class="footer_panel">
            <div class="footer_title">OTHER LINKS</div>
            <div class="social-media-wrapper">
                <div class="social-media-img" id="sgl">
                    <img src="resources/social/gmail.svg" />
                </div>
                <div class="social-media-img" id="sli">
                    <img src="resources/social/linkedin.svg" />
                </div>
                <div class="social-media-img" id="sgh">
                    <img src="resources/social/github.svg" />
                </div>
                <div class="social-media-img" id="sfb">
                    <img src="resources/social/facebook.svg" />
                </div>
                <div class="social-media-img" id="sig">
                    <img src="resources/social/instagram.svg" />
                </div>
            </div>
            <div class="footer_text" id="copyright_date"></div>
            <div class="footer_text">This website is still under construction.</div>
        </div>
        <!-- <div class="footer_panel">
                    <img id="footer_logo" src="../resources/logo.png">
                    <br>
                    <div class="footer_Text" id="f_slogan">asdasda asd adsa a sas das d.</div>
                </div> -->
    </div>
</div>