<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="theme-color" content="#272727" />
    <meta name="google-site-verification" content="WycBAaEZMXk0N0OsIJTw2NOWfYS-VeY4jYykViIg5oc" />
    <meta property="og:url" content="https://ramceconcepcion.github.io/">
    <meta property="og:image" content="https://ramceconcepcion.github.io/resources/screen.PNG">
    <meta property="og:title" content="Ramce Concepcion">
    <meta property="og:description" content="Software engineer and web developer from Rizal, Philippines.">

    <title>Ramce Concepcion</title>

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="canonical" href="http://ramceconcepcion.tk" />
</head>