<div class="content-panel">
    <div class="content-title">ABOUT ME</div>
    <div class="content-body intro-body">
        <div class="intro-photo-wrapper">
            <div class="intro-photo-filter"></div>
            <img data-src="resources/ramce2.jpg" class="intro-photo-img" class="lazy" />
        </div>

        <p class="intro-paragraph"><b>Software engineer and web developer from Philippines.</b></p>
        <p class="intro-paragraph">
            Born and raised in the province of Rizal, Philippines -- a thriving region southeast of Metro
            Manila and just above the famous lake called Laguna de Bay. A degree holder of Bachelor of
            Science in Information Technology; graduated from University of Rizal System.
        </p>
        <p class="intro-paragraph">Programmer specializing in writing code for websites and
            web-based applications; has a passion for his career, PC hardware, video games, cars, superheroes, travel
            and
            food.</p>
        <p class="intro-paragraph">Currently working for BlueKei Soft Inc; A South Korean-owned software development
            company located at Eastwood Ave, Quezon City, Philippines.</p>
    </div>
</div>