<div class="content-panel">
    <div class="content-title">GALLERY</div>
    <div class="content-body">
        <div class="gallery-wrapper">
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic9.jpg" alt="Mt. Fuji">
            </div>

            <div class="gallery-item">
                <img src="resources/gallery/pic1.jpg" alt="Minato Mirai, Yokohama">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/pic6.jpg" alt="Tokyo DisneySea">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/pic3.jpg" alt="Sankeien Garden">
            </div>
            <!-- <div class="gallery-item">
                            <img src="resources/gallery/pic5.jpg">
                        </div>-->
            <!-- <div class="gallery-item max-width">
                            <img src="resources/gallery/pic4.jpg">
                        </div> -->
            <div class="gallery-item max-width height-350">
                <img src="resources/gallery/pic2.jpg" alt="Malacanang of the North, Ilocos Norte">
            </div>
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic8.jpg" alt="Kawaguchiko, Fuji">
            </div>
            <!--div class="gallery-item">
                <img src="resources/gallery/v1.jpg">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/v2.jpg">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/v3.jpg">
            </div-->
            <div class="gallery-item max-width height-350">
                <img src="resources/gallery/pic10.jpg" alt="Venice Grand Canal">
            </div>
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic7.jpg" atl="Nishi-ku, Yokohama">
            </div>
        </div>
    </div>
</div>