<div class="content-panel">
    <h1 class="content-title">GALLERY</h1>
    <div class="content-body">
        <div class="gallery-wrapper">
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic9.jpg" alt="Mt. Fuji">
            </div>

            <div class="gallery-item">
                <img src="resources/gallery/pic1.jpg" alt="Minato Mirai, Yokohama">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/pic6.jpg" alt="Tokyo DisneySea">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/pic3.jpg" alt="Sankeien Garden">
            </div>
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic8.jpg" alt="Kawaguchiko, Fuji">
            </div>
            <div class="gallery-item max-width height-350">
                <img src="resources/gallery/pic10.jpg" alt="Venice Grand Canal">
            </div>
            <div class="gallery-item max-width height-350">
                <img src="resources/gallery/pic7.jpg" alt="Nishi-ku, Yokohama">
            </div>
            <div class="gallery-item height-350 show-bottom">
                <img src="resources/gallery/pic13.jpg" alt="Highlands Cafe, Tanay">
            </div>
            <div class="gallery-item height-350 show-bottom">
                <img src="resources/gallery/pic12.jpg" alt="Makati City">
            </div>
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic14.jpg" alt="TANTO, Tanay">
            </div>
        </div>
    </div>
</div>