<div class="content-panel">
    <div class="content-title">GALLERY</div>
    <div class="content-body">
        <div class="gallery-wrapper">
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic9.jpg">
            </div>

            <div class="gallery-item">
                <img src="resources/gallery/pic1.jpg">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/pic6.jpg">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/pic3.jpg">
            </div>
            <!-- <div class="gallery-item">
                            <img src="resources/gallery/pic5.jpg">
                        </div>-->
            <!-- <div class="gallery-item max-width">
                            <img src="resources/gallery/pic4.jpg">
                        </div> -->
            <div class="gallery-item max-width height-350">
                <img src="resources/gallery/pic2.jpg">
            </div>
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic8.jpg">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/v1.jpg">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/v2.jpg">
            </div>
            <div class="gallery-item">
                <img src="resources/gallery/v3.jpg">
            </div>
            <div class="gallery-item max-width height-350">
                <img src="resources/gallery/pic10.jpg">
            </div>
            <div class="gallery-item max-width">
                <img src="resources/gallery/pic7.jpg">
            </div>
        </div>
    </div>
</div>