<div class="hero-wrapper">
    <div id="coverdiv">
        <img data-src="resources/cover.jpg" id="cover" class="lazy" alt="Cover image" />
        <div id="bg"> </div>
    </div>
    <div class="details-wrapper">
        <div class="hero-text main">HI,</div>
        <div class="hero-text main">I'M <span class="name">RAMCE</span> CONCEPCION</div>
        <div class="hero-text sub"></div>
        <div class="hero-text desc">
            I specialize in writing code for websites and web-based
            applications.
        </div>

        <div class="hero-button-wrapper">
            <a id="hero_button" href="mailto:ramceconcepcion@gmail.com">CONTACT ME</a>
        </div>
    </div>
</div>