<div class="hero-wrapper">
    <div id="coverdiv">
        <img data-src="resources/cover.jpg" id="cover" class="lazy" alt="Cover image" />
    </div>
    <div class="details-wrapper">
        <div class="hero-text main"></div>
        <div class="hero-text sub"></div>

        <div class="resume-button-wrapper">
            <button id="resume_button">VIEW RESUME</button>
        </div>
    </div>
</div>