<div class="header-wrapper">
    <div id="coverdiv">
        <img data-src="resources/cover.jpg" id="cover" class="lazy" />
    </div>
    <div class="hero-wrapper">
        <div class="hero-text main">RAMCE CONCEPCION</div>
        <div class="hero-text sub">SOFTWARE ENGINEER | WEB DEVELOPER</div>

        <div class="resume-button-wrapper">
            <button id="resume_button">VIEW RESUME</button>
        </div>
    </div>
</div>