<script>
    $(document).ready(function () {
        $("#gallery-tbx").nanogallery2({
            thumbnailHeight: 300,
            thumbnailWidth: 300,
            thumbnailAlignment: "fillWidth",
            itemsBaseURL: 'resources/projects/',
            items: [
                { src: 'tbxd-1.png', srct: 'tbxd-1.png', title: '' },
                { src: 'tbxd-2.png', srct: 'tbxd-2.png', title: '' },
                { src: 'tbxd-3.png', srct: 'tbxd-3.png', title: '' },
                { src: 'tbxm-1.png', srct: 'tbxm-1.png', title: '' },
                { src: 'tbxm-2.png', srct: 'tbxm-2.png', title: '' },
                { src: 'tbxm-3.png', srct: 'tbxm-3.png', title: '' },
            ]
        });

        $("#gallery-zomb").nanogallery2({
            thumbnailHeight: 300,
            thumbnailWidth: 300,
            thumbnailAlignment: "fillWidth",
            itemsBaseURL: 'resources/projects/',
            items: [
                { src: 'zombie-1.png', srct: 'zombie-1.png', title: '' },
                { src: 'zombie-2.png', srct: 'zombie-2.png', title: '' },
                { src: 'zombie-3.png', srct: 'zombie-3.png', title: '' },
                { src: 'zombie-4.png', srct: 'zombie-4.png', title: '' },
                { src: 'zombie-5.png', srct: 'zombie-5.png', title: '' },
            ]
        });

        $("#gallery-vnext").nanogallery2({
            thumbnailHeight: 300,
            thumbnailWidth: 300,
            thumbnailAlignment: "fillWidth",
            itemsBaseURL: 'resources/projects/',
            items: [
                { src: 'vnext-int-1.PNG', srct: 'vnext-int-1.PNG', title: '' },
                { src: 'vnext-int-2.PNG', srct: 'vnext-int-2.PNG', title: '' },
                { src: 'vnext-int-3.PNG', srct: 'vnext-int-3.PNG', title: '' },
                { src: 'vnext-ext-1.png', srct: 'vnext-ext-1.png', title: '' },
                { src: 'vnext-ext-2.png', srct: 'vnext-ext-2.png', title: '' },
                { src: 'vnext-ext-3.png', srct: 'vnext-ext-3.png', title: '' },
            ]
        });

        $("#gallery-vnextdemo").nanogallery2({
            thumbnailHeight: 300,
            thumbnailWidth: 300,
            thumbnailAlignment: "fillWidth",
            itemsBaseURL: 'resources/projects/',
            items: [
                { src: 'vnext-demostore.PNG', srct: 'vnext-demostore.PNG', title: '' },
                { src: 'vnext-demostore2.PNG', srct: 'vnext-demostore2.PNG', title: '' },
                { src: 'vnext-demostore3.PNG', srct: 'vnext-demostore3.PNG', title: '' },
                { src: 'vnext-demostore4.PNG', srct: 'vnext-demostore4.PNG', title: '' },
            ]
        });

        $("#gallery-misc").nanogallery2({
            thumbnailHeight: 200,
            thumbnailWidth: 200,
            thumbnailAlignment: "fillWidth",
            itemsBaseURL: 'resources/projects/',
            thumbnailBorderHorizontal: "5",
            thumbnailBorderVertical: "1",
            thumbnailLabel: { titleFontSize: "0.6em", },
            items: [
                { src: 'auc-1.png', srct: 'auc-1.png', title: 'Auto Utilization Calculator' },
                { src: 'auc-2.png', srct: 'auc-2.png', title: 'Auto Utilization Calculator' },
                { src: 'jt-1.png', srct: 'jt-1.png', title: 'JoyTalk' },
                { src: 'jt-2.png', srct: 'jt-2.png', title: 'JoyTalk' },
                { src: 'jt-3.png', srct: 'jt-3.png', title: 'JoyTalk' },
                { src: 'devsched-1.png', srct: 'devsched-1.png', title: 'Device Scheduler' },
                { src: 'trend-1.png', srct: 'trend-1.png', title: 'Trend View' },
                { src: 'p2b-1.png', srct: 'p2b-1.png', title: 'Play2Bit' },
                { src: 'p2b-2.png', srct: 'p2b-2.png', title: 'Play2Bit' },
                { src: 'p2b-3.png', srct: 'p2b-3.png', title: 'Play2Bit' },
                { src: 'p2b-4.png', srct: 'p2b-4.png', title: 'Play2Bit' },
                { src: 'uznex-1.png', srct: 'uznex-1.png', title: 'UZNEX' },
                { src: 'uznex-2.png', srct: 'uznex-2.png', title: 'UZNEX' },
                { src: 'uznex-3.png', srct: 'uznex-3.png', title: 'UZNEX' },
                { src: 'top-1.png', srct: 'top-1.png', title: 'Topnight' },
                { src: 'top-2.png', srct: 'top-2.png', title: 'Topnight' },
                { src: 'top-3.png', srct: 'top-3.png', title: 'Topnight' },
                { src: 'air-1.png', srct: 'air-1.png', title: 'Air Auction' },
                { src: 'air-2.png', srct: 'air-2.png', title: 'Air Auction' },
                { src: 'gen-1.png', srct: 'gen-1.png', title: 'Let\'s Study Genetics' },
                { src: 'gen-2.png', srct: 'gen-2.png', title: 'Let\'s Study Genetics' },
            ]
        });
    });
</script>

<div class="content-panel gray">
    <h1 class="content-title">MY PROJECTS</h1>
    <div class="content-body projects">
        {{!-- <div class="content-desc">Listed below are some of my personal projects or projects I was involved in:
        </div> --}}

        <div class="project-wrapper">
            <h2>The BullX Trade</h2>
            <p class="project-desc">South Korean-based digital asset trading platform made using React/Next, Redux and
                SignalR.
            </p>
            <div id="gallery-tbx" class="nanogallery-container"></div>

            <h2>Zombied</h2>
            <p class="project-desc">Web-based poker game with an Express.js backend and Socket.io for game-specific
                logic.</p>
            <div id="gallery-zomb" class="nanogallery-container"></div>

            <h2>vNext Dashboards</h2>
            <p class="project-desc">Internal and external dashboard applications for Vesta's vNext anti-fraud platform,
                made with React/Next, Redux, MaterialUI and others.
            </p>
            <div id="gallery-vnext" class="nanogallery-container"></div>

            <h2>vNext Demo Store</h2>
            <p class="project-desc">Demo store application used by Vesta's sales team and integrates with Vesta's
                APIs. Developed with React/Next, Redux,
                MaterialUI.
            </p>
            <div id="gallery-vnextdemo" class="nanogallery-container"></div>

            <h2>Others</h2>
            <p class="project-desc">Other projects made with Vue.js, React Native, React, ASP.NET MVC and others.
                This is a gallery of my personal projects or company-associated website prototypes and
                building automation software.</p>
            <div id="gallery-misc" class="nanogallery-container"></div>
        </div>

    </div>
</div>