<div class="content-panel">
    <div class="content-title">TECH STACK</div>
    <div class="content-body tech">
        <div class="tech-wrapper">
            <div class="tech-wrapper-title">FRONT END</div>
            <div class="tech-wrapper-content">
                <div class="tech-item" title="Javascript">
                    <img src="resources/devicon/js.svg" alt="JS Icon">
                </div>
                <div class="tech-item" title="HTML">
                    <img src="resources/devicon/html.svg" alt="HTML Icon">
                </div>
                <div class="tech-item" title="CSS">
                    <img src="resources/devicon/css.svg" alt="CSS Icon">
                </div>
                <div class="tech-item" title="Vue.js">
                    <img src="resources/devicon/vue.svg" alt="Vue Icon">
                </div>
                <div class="tech-item" title="Sass (SCSS)">
                    <img src="resources/devicon/sass.svg" alt="Sass Icon">
                </div>
                <div class="tech-item" title="jQuery">
                    <img src="resources/devicon/jquery.svg" alt="jQuery Icon">
                </div>
                <div class="tech-item" title="React">
                    <img src="resources/devicon/react.svg" alt="React Icon">
                </div>
                <div class="tech-item" title="TypeScript">
                    <img src="resources/devicon/typescript.svg" alt="Typescript Icon">
                </div>
            </div>
        </div>
        <div class="tech-wrapper">
            <div class="tech-wrapper-title">BACK END</div>
            <div class="tech-wrapper-content">
                <div class="tech-item" title="ASP.NET MVC">
                    <img src="resources/devicon/aspnet.png" alt="ASP.NET MVC Icon">
                </div>
                <div class="tech-item" title="Node.js">
                    <img src="resources/devicon/node.svg" alt="Node.js Icon">
                </div>
                <div class="tech-item" title="Express">
                    <img src="resources/devicon/express.svg" alt="Express Icon">
                </div>
                <div class="tech-item" title="NestJS">
                    <img src="resources/devicon/nestjs.svg" alt="NestJS Icon">
                </div>
                <div class="tech-item" title="Laravel">
                    <img src="resources/devicon/laravel.svg" alt="Laravel Icon">
                </div>
            </div>
        </div>
        <div class="tech-wrapper">
            <div class="tech-wrapper-title">DATABASE</div>
            <div class="tech-wrapper-content">
                <div class="tech-item" title="MS SQL Server">
                    <img src="resources/devicon/sqlserver.png" alt="MS SQL Server Icon">
                </div>
                <div class="tech-item" title="MySQL">
                    <img src="resources/devicon/mysql.svg" alt="MySQL Icon">
                </div>
                <div class="tech-item" title="SQLite">
                    <img src="resources/devicon/sqlite.png" alt="SQLite Icon">
                </div>
                <div class="tech-item" title="MongoDB">
                    <img src="resources/devicon/mongodb.svg" alt="MongoDB Icon">
                </div>
            </div>
        </div>
        <div class="tech-wrapper">
            <div class="tech-wrapper-title">TOOLS AND OTHERS</div>
            <div class="tech-wrapper-content">
                <div class="tech-item" title="Visual Studio">
                    <img src="resources/devicon/visualstudio.svg" alt="Visual Studio Icon">
                </div>
                <div class="tech-item" title="Visual Studio Code">
                    <img src="resources/devicon/visualstudiocode.svg" alt="VS Code Icon">
                </div>
                <!--div class="tech-item" title="Git">
                    <img src="resources/devicon/git.svg" alt="Git Icon">
                </div-->
                <div class="tech-item" title="Github">
                    <img src="resources/devicon/github.svg" alt="Github Icon">
                </div>
                <div class="tech-item" title="Jira Software">
                    <img src="resources/devicon/jira.png" alt="Jira Software Icon">
                </div>
                <div class="tech-item" title="Bitbucket">
                    <img src="resources/devicon/bitbucket.svg" alt="Bitbucket Icon">
                </div>
                <div class="tech-item" title="Postman">
                    <img src="resources/devicon/postman.png" alt="Postman Icon">
                </div>
                <div class="tech-item" title="SoapUI">
                    <img src="resources/devicon/soapui.png" alt="SoapUI Icon">
                </div>
            </div>
        </div>
        <div class="tech-wrapper">
            <div class="tech-wrapper-title">WORK PLATFORMS</div>
            <div class="tech-wrapper-content">
                <div class="tech-item" title="Microsoft Windows">
                    <img src="resources/devicon/windows.svg" alt="Windows Icon">
                </div>
                <div class="tech-item" title="Apple macOS">
                    <img src="resources/devicon/apple.svg" alt="Apple Icon">
                </div>
            </div>
        </div>
    </div>
</div>