<!DOCTYPE html>
<html>

{{> views/html-head }}

<body>
    <div class="display-wrapper" encc="m_e">
        {{> views/home/home }}
        {{> views/footer }}
    </div>
</body>

<script src="scripts/lib/type-animation.js"></script>


</html>