<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="theme-color" content="#272727" />
    <meta name="google-site-verification" content="WycBAaEZMXk0N0OsIJTw2NOWfYS-VeY4jYykViIg5oc" />
    <meta property="og:url" content="https://ramceconcepcion.github.io/">
    <meta property="og:image" content="https://ramceconcepcion.github.io/resources/screen.PNG">
    <meta property="og:title" content="Ramce Concepcion">
    <meta property="og:description" content="Software engineer and web developer from Rizal, Philippines.">

    <title>Ramce Concepcion</title>

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="canonical" href="http://ramceconcepcion.tk" />

</head>

<body>
    <div class="display-wrapper" encc="m_e">
        <div id="homediv">

            <div class="header-wrapper">
                <div id="coverdiv">
                    <img data-src="resources/cover.jpg" id="cover" class="lazy" />
                </div>
                <div class="hero-wrapper">
                    <div class="hero-text main">RAMCE CONCEPCION</div>
                    <div class="hero-text sub">SOFTWARE ENGINEER | WEB DEVELOPER</div>

                    <div class="resume-button-wrapper">
                        <button id="resume_button">VIEW RESUME</button>
                    </div>
                </div>
            </div>

            <div class="content-panel">
                <div class="content-title">ABOUT ME</div>
                <div class="content-body intro-body">
                    <div class="intro-photo-wrapper">
                        <div class="intro-photo-filter"></div>
                        <img data-src="resources/ramce2.jpg" class="intro-photo-img" class="lazy" encb="g_o_t " />
                    </div>

                    <p class="intro-paragraph"><b>I am a Software Engineer and Web Developer from Philippines.</b></p>
                    <p class="intro-paragraph">
                        Born and raised in the province of Rizal, Philippines -- a thriving region southeast of Metro
                        Manila and just above the famous lake called Laguna de Bay. A degree holder of Bachelor of
                        Science in Information Technology; graduated from University of Rizal System,
                        Binangonan Campus.
                    </p>
                    <p class="intro-paragraph">A 22-year old software/web developer with a passion for programming, PC
                        hardware, superheroes, video games, travel and food.</p>
                    <p class="intro-paragraph">Has two years of experience in his career; currently working for BlueKei
                        Soft Inc; A South Korean-owned software development company located at Eastwood Ave, Quezon
                        City, Philippines.</p>
                </div>
            </div>

            <div class="content-panel">
                <div class="content-title">TECH STACK</div>
                <div class="content-body tech">
                    <div class="tech-wrapper">
                        <div class="tech-wrapper-title">FRONT END</div>
                        <div class="tech-wrapper-content">
                            <div class="tech-item" title="Javascript">
                                <img src="resources/devicon/js.svg">
                            </div>
                            <div class="tech-item" title="HTML">
                                <img src="resources/devicon/html.svg">
                            </div>
                            <div class="tech-item" title="CSS">
                                <img src="resources/devicon/css.svg">
                            </div>
                            <div class="tech-item" title="Vue.js">
                                <img src="resources/devicon/vue.svg">
                            </div>
                            <div class="tech-item" title="Sass (SCSS)">
                                <img src="resources/devicon/sass.svg">
                            </div>
                            <div class="tech-item" title="jQuery">
                                <img src="resources/devicon/jquery.svg">
                            </div>
                            <div class="tech-item" title="React">
                                <img src="resources/devicon/react.svg">
                            </div>
                        </div>
                    </div>
                    <div class="tech-wrapper">
                        <div class="tech-wrapper-title">BACK END</div>
                        <div class="tech-wrapper-content">
                            <div class="tech-item" title="ASP.NET MVC">
                                <img src="resources/devicon/aspnet.png">
                            </div>
                            <div class="tech-item" title="Node.js">
                                <img src="resources/devicon/node.svg">
                            </div>
                            <div class="tech-item" title="Express">
                                <img src="resources/devicon/express.svg">
                            </div>
                            <div class="tech-item" title="NestJS">
                                <img src="resources/devicon/nestjs.svg">
                            </div>
                            <div class="tech-item" title="Laravel">
                                <img src="resources/devicon/laravel.svg">
                            </div>
                        </div>
                    </div>
                    <div class="tech-wrapper">
                        <div class="tech-wrapper-title">DATABASE</div>
                        <div class="tech-wrapper-content">
                            <div class="tech-item" title="MS SQL Server">
                                <img src="resources/devicon/sqlserver.png">
                            </div>
                            <div class="tech-item" title="MySQL">
                                <img src="resources/devicon/mysql.svg">
                            </div>
                            <div class="tech-item" title="SQLite">
                                <img src="resources/devicon/sqlite.png">
                            </div>
                            <div class="tech-item" title="MongoDB">
                                <img src="resources/devicon/mongodb.svg">
                            </div>
                        </div>
                    </div>
                    <div class="tech-wrapper">
                        <div class="tech-wrapper-title">OTHERS</div>
                        <div class="tech-wrapper-content">
                            <div class="tech-item" title="Visual Studio">
                                <img src="resources/devicon/visualstudio.svg">
                            </div>
                            <div class="tech-item" title="Visual Studio Code">
                                <img src="resources/devicon/visualstudiocode.svg">
                            </div>
                            <div class="tech-item" title="Git">
                                <img src="resources/devicon/git.svg">
                            </div>
                            <!-- <div class="tech-item" title="Bitbucket">
                                <img src="resources/devicon/bitbucket.svg">
                            </div>
                            <div class="tech-item" title="Github">
                                <img src="resources/devicon/github.svg">
                            </div> -->
                            <!-- <div class="tech-item" title="SoapUI">
                                <img src="resources/devicon/soapui.png">
                            </div> -->
                        </div>
                    </div>
                    <div class="tech-wrapper">
                        <div class="tech-wrapper-title">WORK PLATFORMS</div>
                        <div class="tech-wrapper-content">
                            <div class="tech-item" title="Microsoft Windows">
                                <img src="resources/devicon/windows.svg">
                            </div>
                            <div class="tech-item" title="Apple macOS">
                                <img src="resources/devicon/apple.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-panel">
                <div class="content-title">GALLERY</div>
                <div class="content-body">
                    <div class="gallery-wrapper">
                        <div class="gallery-item max-width">
                            <img src="resources/gallery/pic9.jpg">
                        </div>

                        <div class="gallery-item">
                            <img src="resources/gallery/pic1.jpg">
                        </div>
                        <div class="gallery-item">
                            <img src="resources/gallery/pic6.jpg">
                        </div>
                        <div class="gallery-item">
                            <img src="resources/gallery/pic3.jpg">
                        </div>
                        <!-- <div class="gallery-item">
                            <img src="resources/gallery/pic5.jpg">
                        </div>-->
                        <!-- <div class="gallery-item max-width">
                            <img src="resources/gallery/pic4.jpg">
                        </div> -->
                        <div class="gallery-item max-width height-350">
                            <img src="resources/gallery/pic2.jpg">
                        </div>
                        <div class="gallery-item max-width">
                            <img src="resources/gallery/pic7.jpg">
                        </div>
                        <div class="gallery-item max-width">
                            <img src="resources/gallery/pic8.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer" enca="y_o_u ">
                <div id="footer_wrapper">
                    <div class="footer_panel">
                        <!-- <div class="footer_title">RAMCE CONCEPCION</div> -->
                        <div class="footer_text">
                            <i>“Every great developer you know got there by solving problems they were unqualified
                                to
                                solve until they actually did
                                it.”
                            </i>
                            <br> — Patrick McKenzie
                        </div>
                    </div>
                    <div class="footer_panel">
                        <div class="footer_title">CONTACT ME</div>
                        <div class="footer_text" id="f_email">Email: ramuzuconcepcion@gmail.com</div>
                        <div class="footer_text" id="f_phone">Phone: (+63) 9752456112</div>
                    </div>
                    <div class="footer_panel">
                        <div class="footer_title">OTHER LINKS</div>
                        <div class="social-media-wrapper">
                            <div class="social-media-img" id="sgl">
                                <img src="resources/social/gmail.svg" />
                            </div>
                            <div class="social-media-img" id="sli">
                                <img src="resources/social/linkedin.svg" />
                            </div>
                            <div class="social-media-img" id="sgh">
                                <img src="resources/social/github.svg" />
                            </div>
                            <div class="social-media-img" id="sfb">
                                <img src="resources/social/facebook.svg" />
                            </div>
                            <div class="social-media-img" id="sig">
                                <img src="resources/social/instagram.svg" />
                            </div>
                        </div>
                        <div class="footer_text" id="copyright_date"></div>
                        <div class="footer_text">This website is still under construction.</div>
                    </div>
                    <!-- <div class="footer_panel">
						<img id="footer_logo" src="../resources/logo.png">
						<br>
						<div class="footer_Text" id="f_slogan">asdasda asd adsa a sas das d.</div>
					</div> -->
                </div>
            </div>
        </div>
</body>

<script src="scripts/lib/type-animation.js"></script>


</html>